<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel='stylesheet' href="css/style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </head>
  <style>
    .friend-request-heading-container{
      flex:1;
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
    .friend-request-container{
      flex:3;
      justify-content: space-around;
      
    }
    .header-container{
      margin-top: 10vh;
      height: 90vh;
      display: flex;
    }
   
    .reject{
    background: #ffffff;
    border: 1px solid #833471;
    color: #833471;
    padding: 6px 18px 6px 18px;
    border-radius: 3px;
    font-weight: 500;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    transition: all 0.5s ease;
  }
   .resultbtn{
    background: #ffffff;
    border: 1px solid #833471;
    color: #833471;
    padding: 6px 18px 6px 18px;
    border-radius: 3px;
    font-weight: 500;
    cursor: not-allowed;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  }
  .resultbtn:hover{
    cursor:not-allowed;
  }
  .accept{
   background:#833471;
   border:none;
    color:snow;
    padding: 6px 18px 6px 18px;
    border-radius: 3px;
    font-weight: 500; 
    transition: all 0.5s ease;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  }
  .accept:hover{
   background:#1289A7;
  }
  .reject:hover{
   background: #f9f9f9;
  }
  @media screen and (max-width: 768px) {
   .header-container{
    display: flex;
    flex-direction: column;
 }
 .friend-request-heading-container{
  flex:1;
  justify-content: start;
   margin-left: 10px;
 }
 .friend-request-container{
   flex:23;

 }
  

}
@media screen and (max-width: 468px) {
 .header-container{
    display: flex;
    flex-direction: column;
 }
 .friend-request-heading-container{
   justify-content: start;
   margin-left: 10px;
  flex:1;
 }
 .friend-request-container{
   flex:23;

 }
 .sugegsted-friend-link{
    display: inline-block;
  }
 .accept{
   font-size: 12px;
 }
 .reject{
   font-size: 12px;
 }
 .friends-suggested-name{
   font-size: 18px;
 }

}
  </style>
<body>
   <div class="user" hidden>{{username}}</div>
     {{>navbar}}
      <div class="header-container">
             <div class="friend-request-heading-container">
                  <span class='friends-heading position-fixed'><i class="fas fa-user-friends mx-1"></i>Friend-Requests</span>
             </div>
             <div class="friend-request-container">

                 <div class="suggested-friend-card-list">
                       {{#each friendrequest}} 
                          {{#equal status 0}}
                         <div class="suggested-friend-card">
                            <div class="suggested-friend-link">
                             <a href="userProfile?id={{friendname}}" class="suggested-link">
                                {{#if friendimage}}
                                 <img src="upload/{{friendimage}}" alt="" class="friends-profile-pic">
                                 
                                {{else}}
                                  <img src="images/no-profile.jpg" alt="" class="friends-profile-pic">
                                {{/if}}
                                <span class='friends-suggested-name mx-2'>{{friendname}}</span>
                              </a>
                              </div>
                              <div class="add-friend-btn">
                              <button class=' reject mx-4' data-img="{{friendimage}}" data-name = "{{friendname}}" data-id="{{_id}}" id="reject-{{_id}}">Reject</button>
                              <button class=' accept' data-img="{{friendimage}}" data-name = "{{friendname}}" data-id="{{_id}}" id="accept-{{_id}}">Accept</button>
                              <button class='resultbtn mx-5' id={{_id}} style="display:none;">Accept</button>
                              </div>
                         </div>
                     {{else}}
                 {{/equal}}
              {{/each}}
                        
                         
            </div>
      </div>
</body>
</html>
<script src="js/friend-request.js"></script>