<style>
  .reject{
    background: #ffffff;
    border: 1px solid #833471;
    color: #833471;
    padding: 7px 20px 7px 20px;
    border-radius: 3px;
    font-weight: 500;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    transition: all 0.5s ease;
  }
   .resultbtn{
    background: #ffffff;
    border: 1px solid #833471;
    color: #833471;
    padding: 7px 20px 7px 20px;
    border-radius: 3px;
    font-weight: 500;
    cursor: not-allowed;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  }
  .resultbtn:hover{
    cursor:not-allowed;
  }
  .accept{
   background:#833471;
   border:none;
    color:snow;
    padding: 8px 21px 8px 21px;
    border-radius: 3px;
    font-weight: 500; 
    transition: all 0.5s ease;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.2);
  }
  .accept:hover{
   background:#1289A7;
  }
  .reject:hover{
   background: #f9f9f9;
  }
</style>
  {{>navbar}}
   <div class="notification">
          Sachin send you a friend request
    </div>
  <div class="user" hidden>{{username}}</div> 
        <div class="container-fluid">
            <div class="row">
              <div class="offset-md-1 col-md-2">
              <span class="friend-request-heading">
              <i class="fas fa-user-friends mx-2"></i>Friend Requests</span>
              </div>
            <div class="col-md-7 my-5">
              
              {{#each friendrequest}} 
              {{#equal status 0}}
               <div class="friends-list-card">
                   <div class="row">
                 <div class="col-md-2 mx-2">
                 {{#if friendimage}}
                <a href="userProfile?{{friendname}}"><img src="upload/{{friendimage}}" alt="" class="friends-profile-pic">
                {{else}}
                <div class="no-profile-pic"></div>
                {{/if}}
                </div>
                <div class="col-md-2">
                 <div class='friends-name'>{{friendname}}</div></a>
                </div>
                </div>
                <div class="row">
                    <div class="offset-md-8 col-md-4 ">
                     <button class=' reject' data-img="{{friendimage}}" data-name = "{{friendname}}" data-id="{{_id}}" id="reject-{{_id}}">Reject</button>
                     <button class=' accept' data-img="{{friendimage}}" data-name = "{{friendname}}" data-id="{{_id}}" id="accept-{{_id}}">Accept</button>
                     <button class='resultbtn mx-5' id={{_id}} style="display:none;">Accept</button>
                </div>
                </div>
               </div>
                {{else}}
                 {{/equal}}
              {{/each}}
             </div>
            </div>
            </div>
           </div>
       
</body>
</html>
<script src="js/friend-request.js"></script>