
     
    {{>navbar}}
        <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="profile">
                  {{#if userimage}}
                  <div class="profile-img">
                    <img src="upload/{{userimage}}" alt="profile-image" class='profile-img'>   
                  </div>
                  {{else}}
                  <div class="no-img"></div>
                  {{/if}}
                  <div class="profile-name mx-5">
                     {{username}}
                  </div>
                  <button class='btn btn-danger mx-4' id="btn">Add Friend</button>
                  <div class="profile-desc">
                      <ul>
                          <li>{{nickname}}</li>
                          <li>{{college}}</li>
                          <li>{{occupation}}</li>
                          <li>{{address}}</li>
                          <li>{{description}}</li>
                      </ul>
                  </div>
                </div>
            </div>
            <div class="offset-md-2 col-md-6">
            <div class="">
                       
               <div class="friends-list-card">
                <a href="profile?"><img src="images/khan4.jpg" alt="" class="friends-profile-pic">
                 <span class='friends-name'>Aftab Husain</span></a>
                 <div class="row">
                   <div class="col-md-2 online">
                     Online
                   </div>
                    <div class="offset-md-7 col-md-3">
                     <a href="home?" class='btn talk-btn btn-success'>Let's Talk</a>
                  </div> 
                </div>
               </div>
               <div class="friends-list-card">
                <a href="profile?"><img src="images/khan4.jfif" alt="" class="friends-profile-pic">
                 <span class='friends-name'>Aftab Husain</span></a>
                 <div class="row">
                   <div class="col-md-2 online">
                     Online
                   </div>
                    <div class="offset-md-7 col-md-3">
                     <a href="home?" class='btn talk-btn btn-success'>Let's Talk</a>
                  </div> 
                </div>
               </div>

               <div class="friends-list-card">
                <a href="profile?"><img src="images/khan6.jpg" alt="" class="friends-profile-pic">
                 <span class='friends-name'>Aftab Husain</span></a>
                 <div class="row">
                 <div class="col-md-2 offline">
                     Offline
                   </div>
                    <div class="offset-md-7 col-md-3">
                     <a href="home?" class='btn talk-btn btn-success'>Let's Talk</a>
                  </div> 
                </div>
               </div>
               <div class="friends-list-card">
                <a href="profile?"><img src="images/khan7.jpg" alt="" class="friends-profile-pic">
                 <span class='friends-name'>Aftab Husain</span></a>
                 <div class="row">
                   <div class="col-md-2 online">
                     Online
                   </div>
                    <div class="offset-md-7 col-md-3">
                     <a href="home?" class='btn talk-btn btn-success'>Let's Talk</a>
                  </div> 
                </div>
               </div>

               <div class="friends-list-card">
                <a href="profile?"><img src="images/khan8.jpg" alt="" class="friends-profile-pic">
                 <span class='friends-name'>Aftab Husain</span></a>
                 <div class="row">
                 <div class="col-md-2 offline">
                     Offline
                   </div>
                    <div class="offset-md-7 col-md-3">
                     <a href="home?" class='btn talk-btn btn-success'>Let's Talk</a>
                  </div> 
                </div>
               </div>
               <div class="friends-list-card">
                <a href="profile?"><img src="images/khan2.jfif" alt="" class="friends-profile-pic">
                 <span class='friends-name'>Aftab Husain</span></a>
                 <div class="row">
                   <div class="col-md-2 online">
                     Online
                   </div>
                    <div class="offset-md-7 col-md-3">
                     <a href="home?" class='btn talk-btn btn-success'>Let's Talk</a>
                  </div> 
                </div>
               </div>

               <div class="friends-list-card">
                <a href="profile?"><img src="images/khan4.jfif" alt="" class="friends-profile-pic">
                 <span class='friends-name'>Aftab Husain</span></a>
                 <div class="row">
                 <div class="col-md-2 offline">
                     Offline
                   </div>
                    <div class="offset-md-7 col-md-3">
                     <a href="home?" class='btn talk-btn btn-success'>Let's Talk</a>
                  </div> 
                </div>
               </div>
               <div class="friends-list-card">
                <a href="profile?"><img src="images/khan1.jpg" alt="" class="friends-profile-pic">
                 <span class='friends-name'>Aftab Husain</span></a>
                 <div class="row">
                   <div class="col-md-2 online">
                     Online
                   </div>
                    <div class="offset-md-7 col-md-3">
                     <a href="home?" class='btn talk-btn btn-success'>Let's Talk</a>
                  </div> 
                </div>
               </div>

               <div class="friends-list-card">
                <a href="profile?"><img src="images/khan2.jfif" alt="" class="friends-profile-pic">
                 <span class='friends-name'>Aftab Husain</span></a>
                 <div class="row">
                 <div class="col-md-2 offline">
                     Offline
                   </div>
                    <div class="offset-md-7 col-md-3">
                     <a href="home?" class='btn talk-btn btn-success'>Let's Talk</a>
                  </div> 
                </div>
               </div>
               <div class="friends-list-card">
                <a href="profile?"><img src="images/khan4.jpg" alt="" class="friends-profile-pic">
                 <span class='friends-name'>Aftab Husain</span></a>
                 <div class="row">
                   <div class="col-md-2 online">
                     Online
                   </div>
                    <div class="offset-md-7 col-md-3">
                     <a href="home?" class='btn talk-btn btn-success'>Let's Talk</a>
                  </div> 
                </div>
               </div>

               <div class="friends-list-card">
                <a href="profile?"><img src="images/khan4.jpg" alt="" class="friends-profile-pic">
                 <span class='friends-name'>Aftab Husain</span></a>
                 <div class="row">
                 <div class="col-md-2 offline">
                     Offline
                   </div>
                    <div class="offset-md-7 col-md-3">
                     <a href="home?" class='btn talk-btn btn-success'>Let's Talk</a>
                  </div> 
                </div>
               </div>
            </div>
            </div>
           </div>
        </div>     
</body>
</html>
